<% provide(:title, "Home") %>

  <div class="row">
    <h1 class="text-center">New Arrivals</h1>
    <div class="col-md-12">
      <!-- Carousel ================================================== -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% t = 0%>
          <% @new_arrival.each do |item| %>
            <% s = ""%>
            <% if t == 0 %>
              <% s = "active" %>
            <%end%>
            <li data-target="#myCarousel" data-slide-to="<%=t%>" class="<%=s%>"></li>
            <% t+=1 %>
          <%end%>
        </ol>
        <div class="carousel-inner" role="listbox">
          <% t = 1%>
          <% @new_arrival.each do |item| %>
            <% s = "item"%>
            <% if t == 1 %>
              <% s = "item active" %>
            <%end%>
            
            <div class="<%=s%>">
              <%= image_tag (item.image_url), size: "250x150" %>
              <div class="container">
                <div class="carousel-caption">
                          <h1><%= item.title %></h1>
                          <p align="left"><%= item.description %></p>
                          <%= link_to "View details", item_path(item.id), class: 'btn btn-lg btn-success' ,style: 'color: white;'%>
                        </div>
              </div>
            </div>
            <% t = 0  %>
          <%end%>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
      </div><!-- /.carousel -->
    </div>    
  </div>
  <div class="col-md-12">
    <hr class="featurette-divider">
  
    <div class="row">
      <h1 class="text-center">Featured Titles</h1>
      <div class="marketing">
        <!-- START THE FEATURETTES -->
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading" style="color:#009d00">Sunsets with Annie <span class="text-muted">by Gretchen Fergusson</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <p><%= link_to "Full catalogue", items_path, class: 'btn btn-lg btn-success' ,style: 'color: white;'%></p>
          </div>
          <div class="col-md-5">
            <%= image_tag ("sunsets.png"), size: "300x300", class: "featurette-image img-responsive center-block" %>
          </div>
        </div>
        
        <hr class="featurette-divider">
        
        <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading" style="color:#009d00">Feelings are Lost at Sea <span class="text-muted">by Jonathan Bynes</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <p><%= link_to "Full catalogue", items_path, class: 'btn btn-lg btn-success' ,style: 'color: white;'%></p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <%= image_tag ("feelings.png"), size: "300x300", class: "featurette-image img-responsive center-block" %>
          </div>
        </div>
        
        <hr class="featurette-divider">
        
        <div class="row featurette">
          <div class="col-md-7">
                  <h2 class="featurette-heading" style="color:#009d00">The Imperfections of Memory <span class="text-muted">by Annabelle Jones</span></h2>
                  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                  <p><%= link_to "Full catalogue", items_path, class: 'btn btn-lg btn-success' ,style: 'color: white;'%></p>
                </div>
          <div class="col-md-5">
            <%= image_tag ("imperfections.png"), size: "300x300", class: "featurette-image img-responsive center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
