<% provide(:title, "Order Successful") %>

<div class="table-responsive">
    <h1 class="text-center">You have successfully placed an order.</h1>
    <% @user = User.find(current_user.id) %>
    <table class="table">
        <thead>
            <tr class="active">
                <td colspan="2">
                    <h4>Name # <%= @user.name %></h4>
                    <h5>Address # <%= @user.email %></h5>
                </td>
                <td colspan="2">
                    <h5>Order no # <%= @orders.id %></h5>
                    <h5>Order Date # <%= @orders.order_date %></h5>
                    <h5>Order Status # <%= @orders.status %></h5>
                </td>
            </tr>
            <tr class="success">
                <th>Title</th>
                <th>Qty.</th>
                <th>Price</th>
                <th class="text-right">Sub-total</th>
            </tr>
        </thead>
        <tbody>
            <% @total = 0 %>
            <% @orderitems.each do |id,quantity| %>
                <tr>
                    <% item = Orderitem.find_by_id(id) %>
                    <td><%= item.title %></td>
                    <td><%= item.quantity %></td>
                    <td><%= number_to_currency(number_with_precision(item.price, :precision => 2), :unit => "€")%></td> 
                    <td><%= number_to_currency(number_with_precision(item.quantity * item.price, :precision => 2), :unit => "€") %></td>
                    <% timx = (item.quantity * item.price)%>
                    <% @total += timx %>
                 </tr>
            <% end %>
        </tbody>
        <tfoot>
            <tr class="success">
                <td colspan="5" style="text-align:right"> <h3>Total # <%= number_to_currency(number_with_precision(@total, :precision => 2), :unit => "€") %></h3> </td>
            </tr>
            <tr class="active">
                <td colspan="5" class="text-center"> 
                    <%= render'orders/paypal_link' %>
                    <h4>by Paypal</h4>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


