<% provide(:title, "Cart") %>

<p id="notice"><%= notice %></p>
<div id="itemsContainer">
  <% if !@cart.empty? %>
  <h1>Cart</h1>
    <table id="customers">
      <% total = 0 %>
      <thead>
       <tr>
          <th>#</th>
          <th>Title</th>
          <th></th>
          <th></th>
          <th>Price</th>
          <th>Qty.</th>
          <th>Sub-total</th>
          <th style="text-align:center;">Action</th>
        </tr>
      </thead>
      <tbody>
          <% @cart.each do |id, quantity| %>
            <tr>
              <% item = Item.find_by_id(id) %>
              <td><div class="image" style="text-align:center;"> <%= link_to (image_tag item.image_url, :style =>"height:60px;"), item %></div></td>
              <td class="title"><%= link_to item.title, item %></td>
              <td> <a href="/cart/increase/<%= item.id %>"><h3 style="text-align:center;"><span class="glyphicon glyphicon-plus"></span></h3></a></td>
              <td><a href="/cart/decrease/<%= item.id %>"><h3 style="text-align:center;"><span class="glyphicon glyphicon-minus"></span></h3></a></td>
              <td class="price"><%= number_to_currency(item.price, :unit =>"€") %></td>
              <td class="quantity"><%= quantity %></td>
              <td class="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
              <td style="text-align:center;"><a href="/cart/remove/<%= item.id %>" class="btn btn-md btn-danger" style= "color: white;">Remove</a></td>
              <% total += quantity * item.price %> 
            </tr>
          <% end %>
        <tfoot>
          <tr>
            <td colspan="6"><h3 style="text-align:right;">Grand Total # </h3></td>
            <td colspan="2"><h3 style="text-align:left;"><%= number_to_currency(total, :unit => "€") %></h3></td>
          </tr>
        </tfoot>
      </tbody>
    </table>
  <%end%>
   <!-- these design for checkout -->
  <% if @cart.empty? %>
     <h1> Your cart is empty! </h1>
  <%else%>
    <div class="container text-center" style="margin-top:25px;">
      <%= link_to "Continue Shopping", items_path, class: 'btn btn-md btn-primary' ,style: 'color: white;'%>
      <%= link_to "Checkout", checkout_path, class: 'btn btn-md btn-success',style: 'color: white;' %>
      <%= link_to "Empty Cart", clearcart_path, class: 'btn btn-md btn-danger',style: 'color: white;' %>
    </div>
  <%end%>
  <!-- end of check link -->
</div>