<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-8">
    
      <h1> Welcome, <%= @user.name %>   
      
      <%= gravatar_for @user %></h1>
      
      <h4>Email: <%= @user.email %></h4>
      
      <div class="container-md profile-cont">
      <h3>To update your profile, please click on the button below</h3>
          <%= link_to "Update Profile", edit_user_path(current_user), 
          class: 'btn btn-md btn-primary pull-right'%>
      </div >
      
      <br>
      
      <div class="container-md profile-cont">
        <h3>To view your previous orders, please click on the button below</h3>
            <%= link_to "My Orders", orders_path, 
            class: 'btn btn-md btn-success pull-right' %>

      </div>
      
      <br>
      
  </div>
</div>