<p id="notice"><%= notice %></p>



 <div id="itemsContainer">
   <h1><%= @item.title %></h1>
   <%= image_tag @item.image_url, :class => 'welcomIm'  %>
       <h2><%= @item.description %></h1>
   
    <div class="itemhols">
       <p>
        Author: <%= @item.author %>
      <br>
        Price: <%= number_to_currency(@item.price, :unit => "€") %>
       <br>
        Category: <%= @item.category %>
        </p>
       
       <p>
         <%= link_to 'Back',  items_path, :class => "button", :role => "button" %>
         <%= link_to 'Edit',  edit_item_path(@item), :class => "button", :role => "button" %>
         
       </p>
        <% @item.score.to_i.times do  %>
        <span class="glyphicon glyphicon-star"></span>
       <% end %><% @item.blank_stars.times do %>
       <span class="glyphicon glyphicon-star-empty"></span>
      <% end %>
      </div>
   <% if logged_in? %>
   <%= render partial: 'reviews/form' %>
   <% else %>
   <h3> Login to review this book</h3>
   <% end %>
   
   <h3>Reviews (<%= @item.reviews.size %>)</h3>
   
   <%= render partial: 'items/review', collection: @item.reviews %>
   
   
   </div>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
