<h3>Reviews (<%= @item.reviews.size %>)</h3>


<%= form_for [ @item, @review ] do |f| %>
  <p>
    <% if logged_in? %>
        <%= f.label :author_name, current_user.name  %><br/>
        <%= f.hidden_field :author_name, :value => current_user.name %>
    <% else %>
        <%= f.label :author_name, "Guest"  %><br/>
        <%= f.hidden_field :author_name, :value => "Guest" %>
    <% end %>
    
  </p>
  <p>
    <%= f.label :body, "Your Comment"  %>
<br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>