<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title><%= yield(:title) %> | The Book Nook </title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="cart">
      <%= render 'layouts/cart' %>
    </div>
    <div class="container">
      <!--<% flash.each do |message_type, message| %>-->
      <!--  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>-->
      <!--<% end %>-->
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>